/VersionUnity/Paraiso/.vs/
/VersionUnity/Paraiso/.vsconfig
/VersionUnity/Paraiso/Assets/Audios/Raul-Taller_data
*.au
/VersionUnity/Paraiso/Assets/Audios/Raul-Taller_data.meta
/VersionUnity/Paraiso/Assets/Audios/Raul-Taller.aup
/VersionUnity/Paraiso/Assets/Audios/Raul-Taller.aup.meta
/VersionUnity/Paraiso/Library/
/VersionUnity/Paraiso/Builds/
/VersionUnity/Paraiso/Paraiso.zip
/VersionUnity/Paraiso/Temp/
/VersionUnity/Paraiso/obj/
/VersionUnity/Paraiso/Logs/
